{# _macros.html #}
{% macro render_field(field, placeholder="") %}
<div class="space-y-1">
    <label class="text-[10px] font-bold uppercase {{ 'text-destructive' if field.errors else 'text-muted-foreground' }}">
        {{ field.label.text }}
    </label>

    {% set border_color = "border-destructive ring-1 ring-destructive" if field.errors else "border-border" %}

    {{ field(class="w-full border px-4 py-2 rounded-lg text-sm uppercase " + border_color, placeholder=placeholder, **kwargs) }}

    {% if field.errors %}
        {% for error in field.errors %}
            <p class="text-[10px] text-destructive font-bold italic uppercase mt-1">* {{ error }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}