# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=axis_db
DB_USER=flask_user
DB_PASSWORD=flask_password

# Admin DB User
ADMIN_DB_USER=admin_db_user
ADMIN_DB_PASSWORD=admin_password

# Gerente DB User
GERENTE_DB_USER=gerente_db_user
GERENTE_DB_PASSWORD=gerente_password

# Produccion DB User
PRODUCCION_DB_USER=produccion_db_user
PRODUCCION_DB_PASSWORD=produccion_password

# Cliente DB User
CLIENTE_DB_USER=cliente_db_user
CLIENTE_DB_PASSWORD=cliente_password

# Backup DB User
BACKUP_DB_USER=backup_db_user
BACKUP_DB_PASSWORD=backup_password

# Flask Configuration
FLASK_ENV=development
SECRET_KEY='llave'
